* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 30px;	
}
.header {
	position: relative;
	border-radius: 20px 20px 0 0;
	height: 95vh;
	background-size: cover;
	background-color: rgb(213, 232, 206);
	background-image: linear-gradient(
			to right bottom,
			rgba(218, 227, 173, 0.3),
			rgba(171, 201, 130, 0.4)
		),
		url(../img/plants.jpg);
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.navbar-brand img {
	width: 100px;
	margin-left: 30px;
	margin-right: 60px;
	opacity: 0.5;
	border-radius: 50%;
}

.nav-item {
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}
.nav-item:hover {
	text-decoration: underline;
}
.nav-link {
	margin-right: 15px;
}

.navbar-nav {
	margin-right: 60px;
}
.dropdown-item {
	text-transform: capitalize;
}

.push {
	border: 1px solid black;
	border-radius: 30px;
	padding: 2px;
	width: 90px;
	text-transform: uppercase;
	font-size: 15px;
}
.push .icon-img {
	font-size: 30px;
}
.login_text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

.login-img {
	margin-left: 5px;
}

.icon-nav .icon-link {
	margin-right: 20px;
	float: left;
}
.icon-img {
	width: 18px;
	height: 18px;
}

.big-img img {
	width: 600px;
}
.img-big2 {
	margin-top: -100px;
}
.text-box {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.heading-primary {
	color: #000;
}
.heading-primary-main {
	text-transform: uppercase;
	font-size: 50px;
	display: block;
	font-weight: 200;
	letter-spacing: 10px;
	animation: moveInLeft 1s ease-out;
}
.heading-primary-sub {
	text-transform: uppercase;
	font-size: 60px;
	display: block;
	font-weight: 400;
	letter-spacing: 17.5px;
	animation: moveInRight 1s ease-out;
}

@media (max-width: 1000px) {
	.heading-primary-main,
	.heading-primary-sub {
		font-size: 30px;
	}
	.btn-white {
		font-size: 9px;
	}
	.text-box {
		top: 57%;
	}
	.push {
		width: 80px;
	}
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-90%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 15px 40px;
	border-radius: 100px;
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
	
}
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
.btn-white {
	background-color: #fff;
	color: #777;
	margin-left: -25px;
}

.section-home{
	background-color: #f2efed;
	padding: 25rem 0;
	margin-top: -32vh;
	border-radius: 0 0 20px 20px;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.heading-secondary {
	text-transform: uppercase;
    font-size: 40px;
	font-weight: lighter;
	
}
.container_benefits {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
}
.left_side {
	width: 100%;
	height: 615px;
	background-image: url(../img/indoor_plants.jpg);
	border-radius: 8px;
}
.right {
	width: 64%;
	line-height: 26px;
	min-height: 200px;
	background-color: rgb(213, 232, 206);
	background-image: linear-gradient(
		to right bottom,
		rgba(218, 227, 173, 0.3),
		rgba(171, 201, 130, 0.4)
	);
	border-radius: 8px;
	margin-left: -150px;
	padding-top: 10px;
	font-size: 20px;
}
.title_content {
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	margin: 10px;
	margin-top: -150px;
}
.content {
	margin: 10px;
}
@media only screen and (max-width: 768px) {
	.container_benefits {
		flex-direction: column;
		width: 100%;
		margin: 20px 10px;
	}
	.left_side {
		width: 100%;
		height: 600px;
	}
	.right {
		width: 90%;
		margin: 0;
		margin: -100px;
		margin-top: 20px;
	}
}
.btn_text {
	text-align: right;
	
	
}
.btn_green:link {
	text-decoration: none;
	display: inline-block;
	padding: 6px;
	margin-top: -45px;
	color: rgb(24, 102, 14);
}
.btn_green:visited {
	color: rgb(70, 137, 61);
}
.btn_green:hover {
	background-color: #e7efdf;
	border-radius: 5px;
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
	
}
@media only screen and (max-width: 1072px) {
	.container_benefits {
		margin: 20px;
	}
}
.our-plants {
	height: 100vh;
	background-size: cover;
	background-color: rgb(213, 232, 206);
	background-image: linear-gradient(
		to right bottom,
		rgba(218, 227, 173, 0.3),
		rgba(171, 201, 130, 0.4)
	);
	transform: skewY(-7deg);
	margin-top: -16rem;
	padding-top: 3rem;
}
.our-plants > * {
	transform: skewY(7deg);
}
.title_plants {
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase;
}
.card {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
}
.card-title {
	text-align: center;
}
.img-card {
	overflow: hidden;
}
.img-card img {
	transition: all 1.2s ease;
}
.img-card:hover img {
	transform: scale(1.1);
}

.center .btn-light {
	text-align: center;
	margin-bottom: 10px;
}
.card-text {
	text-align: center;
}
.btn-light {
	background-color: #e7efdf;
	width: 110px;
	text-transform: uppercase;
	font-size: 12px;
}
.center .btn-product {
	background-color: #e7efdf;
	width: 110px;
	text-transform: uppercase;
	font-size: 12px;
	border: #e7efdf;
	margin-bottom: 10px;
	height: 30px;
	border-radius: 5px;
}
.btn-product:hover {
	background-color: white;
	box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
.about {
	height: 100vh;
	background-size: cover;
	background-color: #f2efed;
	transform: skewY(-7deg);
	padding-top: 3rem;
}
.about > * {
	transform: skewY(7deg);
}
.box-content {
	text-align: center;
	font-size: 18px;
	margin-top: 50px;
}
.title-about {
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase;
}
.text-box1 {
	margin-top: 40px;
}
.img-about img {
	width: 260px;
	height: 250px;
	border-radius: 50%;
	margin: 20px;
}
@media (max-width: 986px) {
	.about {
		height: auto;
	}
	.img-story {
		padding-bottom: 60px;
	}
}
.section-form {
	height: 90vh;
	background-size: cover;
	background-color: rgb(213, 232, 206);
	background-image: linear-gradient(
			to right bottom,
			rgba(218, 227, 173, 0.3),
			rgba(171, 201, 130, 0.4)
		),
		url(../img/form.jpg);
	background-position: top;
	transform: skewY(-7deg);
	box-sizing: border-box;
	padding-top: 150px;
	position: relative;
}
.section-form > * {
	transform: skewY(7deg);
}
.login-form {
	max-width: 380px;
	height: 70vh;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 auto;
	line-height: 27px;
	box-shadow: 0 0 15px rgba(128, 174, 124, 0.15);
	padding: 15px;
	background-color: white;
	position: absolute;
	bottom: 0px;
	right: 40px;
	bottom: 68px;
	text-align: center;
}
@media(max-width:511px) {
	.login-form{
		position: absolute;
		margin-left:40px
	}
}
.form-logo_container {
	padding: 5px;
}
.form-logo {
	display: block;
	max-width: 140px;
	margin: 0 auto;
}
.form-header {
	text-align: center;
	margin-bottom: 15px;
	color: #333;
}
.form-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #dddd;
	background: #ffff;
	outline: none;
	transition: border-color 0.5s;
}
.form-input:focus {
	border-color: #5cb079;
}
.form-input::placeholder {
	color: #aaaa;
}
.form-button {
	padding: 10px;
	color: #fff;
	font-weight: bold;
	background: #93a276;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.form-button:hover{
	background-color: #455742;
}
.form-link {
	text-decoration: none;
	color: #5dc2a2;
}
footer {
	height: 60vh;
	background-size: cover;
	background-color: #f2efed;
	margin-top: -100px;
	padding-top: 7rem;
}
.footer-container {
	max-width: 1300px;
	margin: auto;
	margin-top: 100px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
@media (max-width: 964px) {
	footer {
		height: auto;
		padding-bottom: 50px;
	}
}
.footer-logo {
	width: 100px;
	margin-top: 50px;
}
.social-media {
	margin: 20px 0;
}
.social-media a {
	margin-right: 20px;
	font-size: 22px;
	text-decoration: none;
	transition: 0.3s linear;
	color: #102f25;
}
.right-text h1 {
	font-size: 26px;
}
.bord {
	width: 105px;
	height: 4px;
	background-color: #102f25;
}
.newseltter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #aec896;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	min-width: 260px;
}
.btn-newseltter {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #c9d5bc;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	width: 140px;
	cursor: pointer;
	margin-left: 5px;
}
.btn-newseltter:hover{
	background-color: #93a276;

}
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 700px) {
	.btn-newseltter {
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.txtb {
		margin-top: 20px;
	}
}
